<!-- Resources -->

<div class="card-container">
    <div class="tittle" style="font-size: 18px; font-family: fantasy; color: #f05742;">Lo mas destacado</div >
    <div class="contenido" style="margin-bottom: 5%;">
            <a href="">#Mexicana</a>
        <div class="row">
            <div class="col" *ngFor="let item of todosPosts" (click)="openDialog(item.post)">
                <div class="card" >
                    <a href=""></a>
                <img src="{{ item.post.foto }}" alt="Post" width="100%">

                <strong>{{ item.post.titulo}}</strong>
                <a [routerLink]="['/perfil',item.usr.id]">{{ item.usr.nombre}}</a>
            </div>
        </div>
    </div>
    </div>
<!--
    <div class="contenido" style="margin-bottom: 5%;">
            <a href="">#Postres</a>
            <div class="row">
                    <div class="col">
                        <div class="card" >
                          <img src="../assets/imagenes/post4.jpg" alt="Post4" width="100%">
                          <strong>Postre con plátano</strong>
                          <a href="">Usuario</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../assets/imagenes/post5.jpg" alt="Post5" width="100%">
                            <strong>Mousse de salted caramel</strong>
                            <a href="">Usuario</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../assets/imagenes/post6.jpg" alt="Post6" width="100%">
                            <strong>Helado de vainilla y caramelo</strong>
                            <a href="">Usuario</a>
                        </div>
                    </div>
            </div>
    </div>

    <div class="contenido" style="margin-bottom: 5%;">
            <a href="">#Bebidas</a>
    <div class="row">
            <div class="col">
                <div class="card" >
                  <img src="../assets/imagenes/post7.jpg" alt="Post7" width="100%">
                  <strong>Sodas italianas</strong>
                  <a href="">Usuario</a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../assets/imagenes/post8.jpg" alt="Post8" width="100%">
                    <strong>Margarita verde</strong>
                    <a href="">Usuario</a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../assets/imagenes/post9.jpg" alt="Post9" width="100%">
                    <strong>Jugo espumoso de manzana</strong>
                    <a href="">Usuario</a>
                </div>
            </div>
    </div>
    </div>
  -->

</div>
