.bg-primary{
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #f05742;
    color: white;
    font-weight: 600;
  }

  .bg-primary {
    background-color: #f05742!important;
}
