<div class="container">
    <h1 mat-dialog-tittle>Chilaquiles de mole</h1>
    <div mat-dialog-content>
            <div class="row" >
                    <div class="col">
                        <img src="../../assets/imagenes/post4.jpg" alt="Chilaquiles" width="100%">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                                <p class="clasificacion">
                                                  <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                                  --><label for="radio1">★</label><!--
                                                  --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                                  --><label for="radio2">★</label><!--
                                                  --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                                  --><label for="radio3">★</label><!--
                                                  --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                                  --><label for="radio4">★</label><!--
                                                  --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                                  --><label for="radio5">★</label>
                                                </p>
                                        
                                </div>
                                <div class="row">
                                        <a href="">#Mexicana</a>
                                    </div>
                                    <div class="row">
                                        <a href="">#Desayunos</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Ingrediendes</strong>
                        <ul>
                            <li>4 tazas de totopos</li>
                            <li>4 cdas. de mole</li>
                            <li>2 tazas de agua</li>
                            <li>½ pechuga de pollo con piel y hueso</li>
                            <li>1 aguacate en rebanadas</li>
                            <li>½ taza de queso doble crema desmoronado</li>
                            <li>½ taza de crema</li>
                            <li>2 cdas. de ajonjolí</li>
                            <li>½ de cebolla morada fileteada</li>
                        </ul>
                    </div>
                    <div class="col">
                        <strong>Instrucciones</strong>
                        <ol>
                            <li>Hierve el pollo en el agua durante media hora, deja enfriar un poco y deshebra. Hidrata el mole en el caldo de pollo y hierve hasta espesar.</li>
                            <li>Mezcla los totopos con el mole, divide en cuatro platos y termina con el pollo deshebrado, ajonjolí, crema, queso, aguacate, y cebolla morada.</li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                   
                    <div mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Leave a comment"></textarea>
                    </div>
                    
                </div>
            </div>
        <div mat-dialog-actions>
                <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cerrar</button>
        </div>
</div>
