
<div class="card-container">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="../../../assets/2019promptlist.png" alt="" width="100%">
                prueba
            </div>
        </div>
        <div class="col">
            <div class="card">
                prueba 2
            </div>
        </div>
        <div class="col">
            <div class="card">
            PRUEBA
        </div>
        </div>
        
    </div>

</div>



<img class="imgusr" srs="">

<button class = "btn btn-primary" (click)="clickAddReceta() " background-color= #F05742; > Añadir receta</button>