<div *ngIf="usuario">
  <div class="card-container">
    <div class="row">
      <div class="col">
        <img src="{{usuario.foto}}" alt="" width="100%">
      </div>
      <div class="col">
        Nombre: {{usuario.nombre}}
        <br>
        Email: {{usuario.email}}
        <br>
        Sexo: {{usuario.sexo}}
        <br>
        Fecha de Nacmimiento: {{usuario.fecha_nacimiento}}
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="clickAddReceta() " background-color=#F05742;>
          Añadir receta
        </button>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="contenido" style="margin-bottom: 5%; margin-top: 20px;">
      <div class="row">
        <div class="col" *ngFor="let item of posts">
          <div class="card">
            <a href=""></a>
            <img src="{{ item.foto }}" alt="Post" width="100%" (click)=openDialog()>

            <strong>{{ item.titulo }}</strong>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
