/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.container { border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll; }
.border {   border-width: 1px;   border-color:chocolate;   border-style: solid; } 
.imgusr {border-radius: 50%;}
